.todo {
  background-color: beige;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.wrapper {
  background-color: beige;
  border-radius: 5px;
  min-height: 82px;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.2);
}
