.profile {
  background-color: beige;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.wrapper {
  background-color: beige;
  border-radius: 5px;
  min-height: 31px;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.textarea {
  resize: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
