.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  margin-inline: auto;
}

.date {
  background-color: beige;
  font-size: 24px;
  color: black;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 20px;
}
